.box {
    font-size: 72px;
    text-align: center;
    background-color: red;
    color: white;
    display: none;
}

@media only screen and (min-width: 390px) and (max-width:844px) {
    #box-1 {
        display: block;
        background-color: cyan;
    }
}

@media only screen and (min-width: 820px) and (max-width:1180px) {
    #box-2 {
        display: block;
        background-color: blueviolet;
    }
}

@media (min-width: 1200px) and (max-width:1250px) {
    #box-3 {
        display: block;
        color: black;
        background-color: yellow;
    }
}

@media (min-width: 1300px) {
    #box-4 {
        display: block;
        background-color: green;
    }
}