.container {
    border: 2px solid black;
    background-color: khaki;
    height: 3444px;
}

/* CSS Position: static (default), relative, absolute, fixed, sticky */
.box {
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#box1 {
    /*relative: Positions the element relative to its normal positon and will leave a gap at its normal position*/
    position: relative;
    top: 164px;
    left: 64px;
}

#box2 {
    /* fixed: Positions the element relative to the browser window; */
    position: fixed;
    right: 4px;
    bottom: 5px;
}

#box3 {
    /* sticky: Positions the element relative to the users scroll position */
    position: sticky;
    top: 3px;
}

#box4 {
    /* absolute: Positions the element relative to the positon of its first parent*/
    position: absolute;

    top: 334px;
    left: 20px;

}