.navbar {
    background-color: #6e5fafd6;
    /* border-radius: 15px; */

}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a {
    font-size: large;
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: red;
    display: block;
}

.search {
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 12px;
    padding: 3px 27px;
    width: 125px;
}