.container {
    background-color: greenyellow;
}

.box {
    background-color: green;
    width: 250px;
    height: 250px;
    position: relative;
    /* animation-name: mymove; */
    animation-name: mymove1;
    animation-duration: 8s;
    animation-iteration-count: 1;
    /* animation-fill-mode: alternate; */
    /* animation-timing-function: ease-in-out; */
    /* animation-delay: 3s; */
    /* animation-direction: reverse;  */

    /* These properties can be set using this shorthand */
    /* animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-fill-mode; */
    /* animation: harry 5s ease-in 1s 12 backwards; */

}

@keyframes mymove1 {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 250px;
        left: 0px;
    }

    75% {
        top: 250px;
        left: 250px;
    }

    100% {
        top: 0px;
        left: 250px;
    }

}

@keyframes mymove {
    from {
        width: 200px;
    }

    to {
        width: 1400px;
    }
}

/* =================================================================================================== */
/* Notes */
/* animation-iteration-count:infinite
animation-fill-mode:forwards(it will stop at the end result)
                    alternate(it will finish and stop at its initial point)

animation-timing-function: ease-in(slow-fast)
                           ease-out(fast-slow)
                           ease-in-out(slow-fast-slow) */