*{
    box-sizing: border-box;
}
header {
    border: 2px solid red;
    margin: auto;
width: 1200px;
}

img {
    margin: auto;
    display: block;
    width: 40px;
    border-radius: 50%;
}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.box {
    border: 4px solid black;
    background-color: #d9bcdb;
    margin: 4px 1px;
    padding: 23px;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
}
.container{
    margin: auto;
    width: 1200px;
}