/* Basic Selectors */

/* Element selector */
p {
    border: 2px solid red;
}

/* Id selector */
#firstPara {
    color: green;
}

/* Class selector */
.bgBlue {
    color: yellow;
    background-color: blue;
}

/* Grouping selector */
footer,
span {
    background-color: pink;
}

/* =================================================================================================== */
/* More about selectors */
/* h1{
            background-color: red;
            color: black;
            font-weight: bold;
            text-align: center;
        } */

/* if p is contained by any li which is contained by div */
/* div li p{
            color: yellow;
            background-color: green;
            font-weight: bold;
        } */

/* if p is right inside div then this CSS will be applied */
/* div > p{
            color: yellow;
            background-color: green;
            font-weight: bold;
        } */

/* if p is right after div i.e p is the next sibling of div*/
/* div + p{
            color: white;
            background-color: rgb(238, 137, 137);
        } */

/* =================================================================================================== */
/* Attribute & nth child pseudo Selectors */
/* 
        .container {
            display: block;
            width: 233px;
            margin: auto;
        }

        input {
            display: block;
        }

        input[type='text'] {
            padding: 23px;
            border: 2px solid red;
        }

        a[target] {
            font-size: 44px;
            color: violet;
        }

        a[target='_self'] {
            font-size: 14px;
            color: rgb(13, 22, 151);
        }

        input[type='email'] {
            color: yellow;
            border: 4px solid black;
        }

        /* This will apply css for third child */
/* li:nth-child(3){
        color: cyan;
    }

    li:nth-child(2n+0){
        color: red;
    } 

        li:nth-child(3n+3) {
            color: red;
        }*/

/* Odd child */
/*
    li:nth-child(odd){
        background-color: yellow;
    } */

/* Even child */
/*  li:nth-child(even) {
            background-color: yellow;
        }

        */

/* ========================================================================================== */

/* Before and After Pseudo Selectors */

/* body {
            margin: 0;
            padding: 0;
            background-color: black;
            color: white;
        }

        header::before{
            background: url('https://source.unsplash.com/collection/190727/1600x900') no-repeat center center/cover;
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.3;
        }

        .navigation {
            font-family: 'Bree Serif', serif;
            font-size: 20px;
            display: flex;
        }

        li {
            list-style: none;
            padding: 20px 23px;
        }

        section {
            height: 344px;
            font-family: 'Bree Serif', serif;
            margin: 3px 230px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 4rem;
        }

        p {
            text-align: center;
        }

        /* section::after{
        content:"this is a content"
    } */